body{
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    background-color: #eeeeee;


}

h1{
    color: #772222;
    font-size: 300%;    
}
h3{
    color: #2244aa ;
    font-size: 150%;

}
strong{
    color: #ffffff;
    font-weight: bold;
    background-color: #772222;
}

em{
    color: #772222;
    text-transform: uppercase;
}

